/* تنسيق عام للصفحة */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* تنسيق الهيدر */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* تنسيق الأقسام */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}

/* تنسيق قسم الصور */
.image-gallery {
    display: flex;
    justify-content: space-between;
}

.image-gallery img {
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* تنسيق الفوتر */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}